@model Blogsayt.ViewModels.SonatilanmeqaleVIEWMODEL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-center">@Model.Meqalem.basliq</h2>

<div>
    <h4>@Model.Meqalem.tbl_kullanici.kullaniciadi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meqalem.tbl_kategoriya.kategoriyaadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meqalem.tbl_kategoriya.kategoriyaadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meqalem.tarix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meqalem.tarix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meqalem.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meqalem.icerik)
        </dd>


    </dl>
</div>
@if (Model.Meqalem.tbl_kullanici.kullaniciadi == Session["username"].ToString())
{
    <h3>Etiketler</h3>
    foreach (var item in Model.Meqalem.tbl_etiket.ToList())
    {
        <p>@item.etiketad</p>
    }
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Meqalem.id })
        @Html.ActionLink("Etiket Elave Et", "Create", new { id = Model.Meqalem.id })
    </p>
}
<p>
    @Html.ActionLink("Ana Sehifeye Qayid", "Index", "Kullanici")
</p>
<div>

    <hr />
    <textarea id="yorum" placeholder="Yorum Yazin" type="text" style="text-emphasis-style:circle">
    </textarea>
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-info" id="yorumyaz" style="animation-fill-mode:forwards">Yorum Yaz</button>
</div>
<hr />


@Html.Partial("YorumListle", Model.Meqalem.tbl_yorum.ToList())

<div class="container">
    @foreach (var item in Model.Sonmeqaleler)
    {

        <div class="col col-md-2">
            <h2 class="text-center text-primary">@item.basliq</h2>
            <p>@item.tbl_kategoriya.kategoriyaadi</p>
            <p>@item.tbl_kullanici.kullaniciadi</p>
        </div>

    }
</div>


@section scripts
    {

    <script type="text/javascript">

        $(function () {

            $("#yorumyaz").click(function () {

                var yorumumuz = $("#yorum").val();
                $.ajax
                    ({
                        url: '/Makale/yorumyaz/',
                        data: { yorum: yorumumuz, makaleid:@Model.Meqalem.id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (data)
                        {
                            alert("Muveffeqiyyet");
                        },
                        Error: function (nese) {
                            alert("Bos Buraxila Bilmez");
                        }

                    });
            });
        });
    </script>
}