@model IEnumerable<Blogsayt.Models.tbl_makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h2>Butun Meqaleler</h2>


@using (Html.BeginForm())
{

    @*@Html.DropDownList("kategoriyaid", null, htmlAttributes: new { @class = "form-control" })*@
    @Html.TextBox("AxtarisEt") <input type="submit" value="Axtar" class="btn btn-primary" />

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_kategoriya.kategoriyaadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_kullanici.kullaniciadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basliq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarix)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_kategoriya.kategoriyaadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_kullanici.kullaniciadi)
            </td>
            <td>
                @Truncate(item.basliq, 15)
            </td>
            <td>
                @Truncate(item.basliq, 45)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarix)
            </td>
            <td>
                @if (item.tbl_kullanici.kullaniciadi == Session["username"].ToString())
                {
                    <p>
                        @Html.ActionLink("Guncelle", "Edit", new { id = item.id })
                        @Html.ActionLink("Sil", "Delete", new { id = item.id })
                    </p>
                }
                
                @Html.ActionLink("Etrafli Bax", "Details", new { id = item.id })

            </td>
        </tr>
    }

</table>
